@layer themes {
  .j-accordion {
    --accordion-font-weight: var(--font-medium);
    --accordion-border: 1px solid var(--ui-border-subtle);
    --accordion-icon-transform: rotate(0deg);
  }

  .j-accordion .accordion-header {
    padding: var(--s2) var(--s3);
    margin: 0;
    font-weight: var(--accordion-font-weight);
    font-size: var(--font-size-md);

    border-bottom: var(--accordion-border);
  }

  .j-accordion[data-direction='horizontal'] .accordion-header {
    gap: var(--space);
    border-bottom: 0;
    border-right: var(--accordion-border);
  }

  .j-accordion[data-direction='horizontal']
    .accordion-header[aria-expanded='true'] {
    border-right: 0;
  }

  .j-accordion .accordion-header[aria-expanded='false']:hover {
    background: var(--ui-bg-subtle);
  }

  .j-accordion[data-direction='horizontal']
    .accordion-header[aria-expanded='false']:nth-last-child(2) {
    border-right: 0;
  }

  .j-accordion .accordion-header[aria-expanded='true'] .header-title {
    --accordion-font-weight: var(--font-bold);
  }

  .j-accordion .accordion-header .header-arrow {
    transform: var(--accordion-icon-transform);
  }

  .j-accordion[data-direction='horizontal'] .accordion-header .header-arrow {
    --accordion-icon-transform: rotate(-90deg);
  }

  .j-accordion .accordion-header[aria-expanded='true'] .header-arrow {
    --accordion-icon-transform: rotate(180deg);
  }

  .j-accordion[data-direction='horizontal']
    .accordion-header[aria-expanded='true']
    .header-arrow {
    --accordion-icon-transform: rotate(90deg);
  }

  .j-accordion .accordion-panel {
    margin: 0;
    font-size: var(--font-size-md);
    border-bottom: var(--accordion-border);
  }

  .j-accordion .accordion-panel[aria-hidden='false'] {
    min-height: 2rem;
  }

  .j-accordion[data-direction='horizontal']
    .accordion-panel[aria-hidden='false'] {
    border-right: var(--accordion-border);
    border-bottom: 0;
    flex: 1;
  }

  .j-accordion .accordion-header[aria-expanded='true'],
  .j-accordion .accordion-header[aria-expanded='false']:nth-last-child(2),
  .j-accordion .accordion-panel[aria-hidden='true'],
  .j-accordion .accordion-panel:last-child {
    border-bottom: 0;
  }

  .j-accordion[data-direction='horizontal'] .accordion-panel:last-child {
    border-right: 0;
  }

  .j-accordion .accordion-panel .panel-content {
    margin: 0;
    padding: 0 var(--s3) var(--s2);
  }
}
