@layer themes {
  .j-accordion {
    --accordion-font-size: var(--font-size-md);
    --accordion-font-weight: var(--font-medium);
    --accordion-header-font-size: var(--font-size-md);
    --accordion-header-padding: var(--s2) var(--s3);
    --accordion-header-margin: 0;
    --accordion-border: 1px solid var(--ui-border-subtle);
    --accordion-icon-transform: rotate(0deg);
    --accordion-panel-margin: 0;
    --accordion-panel-content-margin: 0;
    --accordion-panel-content-padding: 0 var(--s3) var(--s2);
  }
}
