@layer themes {
    .j-avatar {
        --avatar-size: var(--el-height-md);
        --avatar-border-radius: var(--radius-md);
        --avatar-box-shadow: var(--shadow-sm);
    }

    .j-avatar.is-sm {
        --avatar-size: var(--el-height-2xs);
    }

    .j-avatar.is-lg {
        --avatar-size: var(--el-height-lg);
    }

    .j-avatar.is-round {
        --avatar-border-radius: 0.5rem;
    }

    .j-avatar.is-text {
        --avatar-bg: var(--tone-subtle);
        --avatar-fg: var(--tone-solid);
        --avatar-font-weight: var(--font-medium);
    }

    .j-avatar-group .j-avatar {
        --avatar-border: 1.5px solid var(--ui-bg)
    }

    .j-avatar-group .j-avatar:not(:first-child) {
        margin-inline-start: calc(var(--space) * -3);
    }

    .j-avatar-group .j-avatar:last-child {
        --avatar-font-size: var(--font-size-sm);
        --avatar-bg: var(--ui-bg);
        --avatar-box-shadow: var(--shadow-sm);
    }
}