@layer themes {
    .j-loader {
        --loader-position: absolute;
        --loader-size: var(--font-size-md);
        --loader-width: 1.5px;
        --loader-style: solid;
        --loader-fg: currentcolor;
        --loader-speed: var(--speed-xl);
    }

    .j-loader .tone-loader {
        --loader-width: 2px;
        --loader-fg: var(--tone-soft);
        --loader-top-fg: var(--tone-solid);
    }

    .j-loader .flow-loader {
        --loader-width: 2px;
        --loader-bg: radial-gradient(farthest-side, var(--tone-solid) 94%, #0000) top/var(--loader-width) var(--loader-width) no-repeat,
            conic-gradient(#0000 30%, var(--tone-solid));
        --loader-mask: radial-gradient(farthest-side, #0000 calc(100% - var(--loader-width)), #000 0);
    }
}