@layer themes {
    .j-loader {
        --loader-bg: inherit;
        --loader-icon-size: var(--font-size-xl);
        --loader-icon-width: 1px;
        --loader-icon-style: solid;
        --loader-icon-fg: currentcolor;
        --loader-icon-speed: var(--speed-xl);
    }

    .j-loading {
        --loading-bg: inherit;
        --loading-backdrop-filter: blur(4px);
        --loading-loader-size: 3rem;
        --loading-loader-border-width: 4px;
        --loading-loader-border-style: solid;
        --loading-loader-border-color: var(--tone-soft);
        --loading-loader-border-top-color: var(--tone-solid);
        --loading-loader-bg: radial-gradient(farthest-side, var(--tone-solid) 94%, #0000) top/8px 8px no-repeat,
            conic-gradient(#0000 30%, var(--tone-solid));
        --loading-loader-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    }
}