@layer themes {
  .j-modal {
    --modal-header-padding: var(--s3) var(--s4) 0;
    --modal-body-padding: var(--s4);
    --modal-footer-padding: 0 var(--s4) var(--s4);

    color: var(--ui-fg);
    background: var(--ui-bg);
    border-width: 1px;
    border-style: solid;
    border-color: var(--ui-border);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-md);
    min-width: 300px;
    max-width: 500px;
    max-height: 90vh;
  }

  .j-modal .modal-header {
    gap: var(--space);
    padding: var(--modal-header-padding);
    border-bottom: transparent;
  }

  .j-modal .modal-header .modal-title {
    margin: 0;
    font-size: var(--font-size-md);
    font-weight: var(--font-medium);
  }

  .j-modal .modal-header .is-icon svg {
    width: var(--font-size-lg);
  }

  .j-modal .modal-body {
    padding: var(--modal-body-padding);
    min-height: 32px;
  }

  .j-modal .modal-body p {
    margin: 0;
    line-height: var(--line-height-paragraph);
  }

  .j-modal .modal-footer {
    gap: var(--s2);
    padding: var(--modal-footer-padding);
    border-top: 1px solid transparent;
  }

  .j-modal.is-fullscreen .modal-header {
    --modal-header-padding: var(--s4);
  }

  .j-modal.is-fullscreen .modal-body {
    --modal-body-padding: 0;
  }

  .j-modal.is-fullscreen .modal-footer {
    --modal-footer-padding: var(--s4);
  }
}
