@layer themes {
    .j-modal {
        --modal-fg: var(--ui-fg);
        --modal-bg: var(--ui-bg);
        --modal-border-width: 1px;
        --modal-border-style: solid;
        --modal-border-color: var(--ui-border);
        --modal-border-radius: var(--radius-md);
        --modal-box-shadow: var(--shadow-md);
        --modal-min-width: 300px;
        --modal-max-width: 500px;
        --modal-max-height: 90vh;
        --modal-header-gap: var(--space);
        --modal-header-padding: var(--s4) var(--s4) 0;
        --modal-header-bottom-border: transparent;
        --modal-title-font-size: var(--font-size-md);
        --modal-title-font-weight: var(--font-medium);
        --modal-body-padding: var(--s4);
        --modal-body-line-height: var(--line-height-paragraph);
        --modal-footer-gap: var(--s2);
        --modal-footer-padding: 0 var(--s4) var(--s4);
        --modal-footer-top-border: 1px solid transparent;
    }

    .j-modal:not(.is-fullscreen) .modal-header:has(.modal-close) {
        --modal-header-padding: var(--s3) var(--s4) 0;
    }

    .j-modal.is-fullscreen .modal-header {
        --modal-header-padding: var(--s4);
    }

    .j-modal.is-fullscreen .modal-body {
        --modal-body-padding: 0;
    }

    .j-modal.is-fullscreen .modal-footer {
        --modal-footer-padding: var(--s4);
    }
}