@layer themes {
  table td,
  table th {
    border-width: 1px;
    border-style: solid;
    border-color: var(--ui-border-subtle);
    padding: 0.5rem 1rem;
    text-align: left;
    vertical-align: top;
  }

  table thead th {
    background: var(--ui-bg-subtle);
    font-weight: 600;
    white-space: nowrap;
  }

  table tbody td {
    min-width: 100px;
  }

  table tbody tr:hover {
    background: var(--ui-bg-subtle);
  }
}
