@layer themes {
  .j-tabs {
    --tab-list-item-padding: var(--s2) var(--s3);
    --tab-list-item-margin: 0;
    --tab-list-font-weight: var(--font-medium);
    --tab-wrap-border: 1px solid var(--ui-border-subtle);
    --panel-list-padding: var(--s2) var(--s3);
    --panel-list-margin: 0;
    --panel-list-item-margin: 0;
  }

  .j-tabs[data-tabs-direction='top'] .tab-wrap {
    border-bottom: var(--tab-wrap-border);
  }

  .j-tabs[data-tabs-direction='bottom'] .tab-wrap {
    border-top: var(--tab-wrap-border);
  }

  .j-tabs[data-tabs-direction='left'] .tab-wrap {
    border-right: var(--tab-wrap-border);
  }

  .j-tabs[data-tabs-direction='right'] .tab-wrap {
    border-left: var(--tab-wrap-border);
  }

  .j-tabs .tab-list .tab-item[aria-selected='true'] {
    --tab-fg: var(--tone-solid);
  }

  .j-tabs .tab-list .tab-item[aria-disabled='true'] {
    --tab-fg: var(--ui-border-strong);
  }
}
