@layer themes {
  .j-tabs {
    --tab-wrap-border: 1px solid var(--ui-border-subtle);
  }

  .j-tabs[data-tabs-direction='top'] .tab-wrap {
    border-bottom: var(--tab-wrap-border);
  }

  .j-tabs[data-tabs-direction='bottom'] .tab-wrap {
    border-top: var(--tab-wrap-border);
  }

  .j-tabs[data-tabs-direction='left'] .tab-wrap {
    border-right: var(--tab-wrap-border);
  }

  .j-tabs[data-tabs-direction='right'] .tab-wrap {
    border-left: var(--tab-wrap-border);
  }

  .j-tabs .tab-list .tab-item {
    padding: var(--s2) var(--s3);
    margin: 0;
    color: var(--tab-fg);
    font-weight: var(--font-medium);
  }

  .j-tabs .tab-list .tab-item[aria-selected='true'] {
    --tab-fg: var(--tone-solid);
  }

  .j-tabs .tab-list .tab-item[aria-disabled='true'] {
    --tab-fg: var(--ui-border-strong);
  }

  .j-tabs .panel-list {
    padding: var(--s3);
    margin: 0;
  }

  .j-tabs .panel-list .panel-item {
    margin: 0;
  }
}
