@layer components {
  .j-theme-palette {
    padding-inline: var(--s4);
    padding-block: var(--s4) var(--s8);
  }

  .j-theme-palette .palette-container,
  .j-theme-palette .palette-item {
    display: flex;
    flex-direction: column;
  }

  .j-theme-palette .palette-container {
    gap: var(--s4);
  }

  .j-theme-palette .palette-item {
    gap: var(--s2);
  }

  .j-theme-palette .item-title {
    font-size: var(--font-size-md);
    font-weight: var(--font-bold);
  }

  .j-theme-palette .items {
    gap: var(--space);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .j-theme-palette .j-button {
    min-width: 0;
    overflow: hidden;
  }

  .j-theme-palette [data-theme-group='theme'] .j-button {
    justify-content: flex-start;
    padding-inline: var(--s2);
  }

  .j-theme-palette .j-button .item-hex {
    width: var(--font-size-sm);
    height: var(--font-size-sm);

    display: inline-block;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .mobile .j-theme-palette {
    padding-block: var(--s4) 4rem;
  }

  .mobile .j-theme-palette [data-theme-group='theme'] .j-button {
    padding-inline: 6px;
  }

  .j-theme-palette .j-button .button-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
