@layer themes {
  .j-tip {
    --tip-border-color: var(--ui-border);
    --tip-bg: var(--ui-bg);

    row-gap: var(--s2);
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--tip-border-color);
    border-radius: var(--radius-md);
    padding: var(--s3) var(--s4);
    font-size: var(--font-size-md);
    background: var(--tip-bg);
    box-shadow: var(--shadow-xs);
    backdrop-filter: blur(2px);
  }

  .j-tip .tip-icon {
    transform: translateY(calc(var(--space, 0.25rem) * 0.5));
    margin: 0;
  }

  .j-tip .tip-icon,
  .j-tip .tip-title {
    color: var(--tip-fg);
  }

  .j-tip .tip-icon,
  .j-tip .tip-icon svg {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
  }

  .j-tip .tip-title {
    font-weight: var(--font-medium);
  }

  .j-tip.is-primary {
    --tip-border-color: var(--state-info-border);
    --tip-bg: var(--state-info-soft);
    --tip-fg: var(--state-info-text);
  }

  .j-tip.is-success {
    --tip-border-color: var(--state-success-border);
    --tip-bg: var(--state-success-soft);
    --tip-fg: var(--state-success-text);
  }

  .j-tip.is-warning {
    --tip-border-color: var(--state-warning-border);
    --tip-bg: var(--state-warning-soft);
    --tip-fg: var(--state-warning-text);
  }

  .j-tip.is-danger {
    --tip-border-color: var(--state-danger-border);
    --tip-bg: var(--state-danger-soft);
    --tip-fg: var(--state-danger-text);
  }
}
