@layer themes {
  .j-tooltip {
    --tooltip-fg: var(--ui-bg);
    --tooltip-bg: var(--ui-fg);
    --tooltip-border-width: 1px;
    --tooltip-border-style: solid;
    --tooltip-border-color: var(--ui-border-strong);
    --tooltip-border-radius: var(--radius-md);
    --tooltip-max-width: 260px;
    --tooltip-padding: 2px var(--s2);
    --tooltip-font-size: var(--font-size-md);
    --tooltip-line-height: var(--line-height);
  }

  .j-tooltip.is-reverse {
    --tooltip-fg: var(--ui-fg);
    --tooltip-bg: var(--ui-bg);
    --tooltip-border-color: var(--ui-border);
  }

  .j-tooltip.is-primary {
    --tooltip-fg: var(--state-info-fg);
    --tooltip-bg: var(--state-info-text);
    --tooltip-border-color: var(--state-info-border);
  }

  .j-tooltip.is-success {
    --tooltip-fg: var(--state-success-fg);
    --tooltip-bg: var(--state-success-text);
    --tooltip-border-color: var(--state-success-border);
  }

  .j-tooltip.is-warning {
    --tooltip-fg: var(--state-warning-fg);
    --tooltip-bg: var(--state-warning-text);
    --tooltip-border-color: var(--state-warning-border);
  }

  .j-tooltip.is-error {
    --tooltip-fg: var(--state-danger-fg);
    --tooltip-bg: var(--state-danger-text);
    --tooltip-border-color: var(--state-danger-border);
  }
}
