@layer themes {
  .j-toolbar-container {
    background: var(--ui-bg);
    border-bottom: 1px solid var(--ui-border);
  }

  .j-toolbar {
    gap: 0;
    padding: var(--s2);
    box-shadow: var(--shadow-sm);
  }

  .j-toolbar button svg {
    --toolbar-icon-size: var(--font-size-xl);

    width: var(--toolbar-icon-size);
    height: var(--toolbar-icon-size);
  }

  .j-toolbar .divider {
    width: 1px;
    height: 16px;
    background: var(--ui-fg);
    align-self: center;
  }

  .editor-drop-color .color-panel {
    gap: 0.5rem;
  }

  .editor-drop-color .color-panel button.color-btn {
    padding: 0;
    margin: 0;
    outline: none;
    width: 32px;
    height: 32px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--ui-border);
  }

  .editor-drop-color .color-panel .color-btn:last-of-type {
    grid-column: span 5;
    width: auto;
  }

  .j-toolbar button.is-sm svg {
    --toolbar-icon-size: var(--font-size-lg);
  }

  .j-toolbar button.is-lg svg {
    --toolbar-icon-size: var(--font-size-2xl);
  }
}
