@layer components {
  .j-accordion .accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  .j-accordion .accordion-header .header-title {
    flex: 1;
    text-align: left;
  }

  .j-accordion .accordion-header .header-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .j-accordion .accordion-panel {
    display: none;
  }

  .j-accordion .accordion-panel.is-active {
    display: block;
  }
}