@layer components {
  .j-accordion {
    display: flex;
    flex-direction: column;
  }

  .j-accordion[data-direction='horizontal'] {
    flex-direction: row;
  }

  .j-accordion .accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .j-accordion .accordion-header .header-title {
    flex: 1;
    text-align: left;
  }

  .j-accordion .accordion-header .header-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-out;
  }

  .j-accordion .accordion-panel {
    position: relative;
  }

  .j-accordion .accordion-panel .panel-content {
    position: relative;
    min-height: inherit;
  }

  .j-accordion[data-direction='horizontal']
    .accordion-panel[aria-hidden='false']
    .panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
