@layer components {
  .j-avatar {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .j-avatar img,
  .j-avatar svg {
    margin: 0;
  }

  .j-avatar.is-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .j-avatar-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
