@layer components {
  .j-avatar {
    display: inline-block;
    vertical-align: middle;
    width: var(--avatar-size);
    height: var(--avatar-size);
    overflow: hidden;
    user-select: none;
    object-fit: cover;
    box-shadow: var(--avatar-box-shadow);
    border: var(--avatar-border);
    border-radius: var(--avatar-border-radius);
    background: var(--avatar-bg);
    color: var(--avatar-fg);
    font-size: var(--avatar-font-size);
    font-weight: var(--avatar-font-weight);
  }

  .j-avatar img {
    border-radius: var(--avatar-border-radius);
  }

  .j-avatar img,
  .j-avatar svg {
    margin: 0;
  }

  .j-avatar.is-text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .j-avatar-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
}
