@layer components {
  .j-breadcrumb {
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .j-breadcrumb > ol,
  .j-breadcrumb > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }

  .j-breadcrumb > ol li,
  .j-breadcrumb > ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .j-breadcrumb li:first-child a {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
  }

  .j-breadcrumb li + li::before {
    content: '/';
  }

  .j-breadcrumb.is-dot li + li::before {
    content: '•';
  }

  .j-breadcrumb.is-arrow li + li::before {
    content: '>';
  }

  .j-breadcrumb.is-dash li + li::before {
    content: '–';
  }

  .j-breadcrumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .j-breadcrumb a span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .j-breadcrumb li.is-active a {
    cursor: default;
    pointer-events: none;
  }

  .j-breadcrumb.is-center ul,
  .j-breadcrumb.is-center ol {
    justify-content: center;
  }

  .j-breadcrumb.is-right ul,
  .j-breadcrumb.is-right ol {
    justify-content: flex-end;
  }
}
