@layer components {
  .j-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    white-space: nowrap;
    appearance: button;
    user-select: none;
    touch-action: manipulation;
  }

  .j-button .button-content {
    display: contents;
    position: relative;
  }

  .j-button svg {
    width: var(--btn-font-size);
    fill: currentColor;
  }

  .j-button a,
  .j-button a:hover {
    color: inherit;
  }

  .j-button-group {
    display: flex;
  }
}
