@layer components {
  .j-drop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: var(--z-drop);
  }

  .j-drop[aria-expanded='true'] {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  .drop-container {
    position: relative;
  }
}
