@layer components {
  .j-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--loader-bg);
  }

  .j-loader .loader {
    display: inline-block;
    width: var(--loader-icon-size);
    height: var(--loader-icon-size);
    border-width: var(--loader-icon-width);
    border-style: var(--loader-icon-style);
    border-color: var(--loader-icon-fg);
    border-right-color: transparent;
    border-radius: 50%;
    animation: var(--loader-icon-speed) linear infinite animate-spin;
  }

  .j-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--loading-bg);
    backdrop-filter: var(--loading-backdrop-filter);
  }

  .j-loading .loader {
    width: var(--loading-loader-size);
    height: var(--loading-loader-size);
    border-width: var(--loading-loader-border-width);
    border-style: var(--loading-loader-border-style);
    border-color: var(--loading-loader-border-color);
    border-top-color: var(--loading-loader-border-top-color);
    border-radius: 50%;
    animation: 1s linear infinite animate-spin;
  }

  .j-loading.is-bold .loader {
    border: none;
    aspect-ratio: 1;
    background: var(--loading-loader-bg);
    mask: var(--loading-loader-mask);
  }
}