@layer components {
  .j-menu {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .j-menu::-webkit-scrollbar {
    display: none;
  }

  .j-menu ol,
  .j-menu ul,
  .j-menu ol li,
  .j-menu ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .j-menu .menu {
    display: flex;
    align-items: center;
  }

  .j-menu .menu .menu-item {
    flex-shrink: 0;
  }

  .j-menu .menu .menu-item:not(:has(a)) {
    position: relative;
    cursor: help;
  }

  .j-menu .menu .menu-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    touch-action: manipulation;
    text-decoration: none;
  }

  .j-menu:not([data-menu-type='mobile']):not([data-menu-type='bottom'])
    .menu
    .menu-item.menu-item-has-children
    > a {
    pointer-events: none;
  }

  .j-menu .menu .menu-item .sub-menu {
    display: none;
    position: absolute;
  }

  .j-menu .menu .menu-item .sub-menu .menu-item a {
    justify-content: flex-start;
    flex-wrap: wrap;
    white-space: normal;
  }

  .j-menu .menu .menu-item.menu-item-has-children:hover .sub-menu {
    display: block;
    z-index: var(--z-submenu);
  }
}
