@layer components {
  .j-modal {
    color: var(--modal-fg);
    background: var(--modal-bg);
    border-width: var(--modal-border-width);
    border-style: var(--modal-border-style);
    border-color: var(--modal-border-color);
    border-radius: var(--modal-border-radius);
    box-shadow: var(--modal-box-shadow);
    min-width: var(--modal-min-width);
    max-width: var(--modal-max-width);
    max-height: var(--modal-max-height);
    overflow: hidden;
    animation: animate-fade-in 0.35s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .j-popup-layout:has(.is-fullscreen) {
    padding: 0;
  }

  .j-modal.is-fullscreen {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
  }

  .j-modal .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--modal-header-gap);
    padding: var(--modal-header-padding);
    border-bottom: var(--modal-header-bottom-border);
  }

  .j-modal .modal-header .modal-title {
    margin: 0;
    font-size: var(--modal-title-font-size);
    font-weight: var(--modal-title-font-weight);
  }

  .j-modal .modal-body {
    padding: var(--modal-body-padding);
    overflow-y: auto;
    overflow-wrap: break-word;
    flex: 1;
  }

  .j-modal .modal-body p {
    margin: 0;
    line-height: var(--modal-body-line-height);
  }

  .j-modal .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: var(--modal-footer-gap);
    padding: var(--modal-footer-padding);
    border-top: var(--modal-footer-top-border);
  }
}
