@layer components {
  .j-modal {
    --modal-border: var(--modal-border-width, 1px) var(--modal-border-style, solid) var(--modal-border-color, transparent);

    --modal-header-padding: calc(var(--space) * 4) calc(var(--space) * 4) 0;
    --modal-header-gap: var(--space);
    --modal-title-font-size: var(--font-size-md);
    --modal-close-icon-size: var(--el-height-3xs);
    --modal-close-font-size: var(--font-size-lg);
    --modal-close-color: var(--ui-fg-muted);

    --modal-body-padding: calc(var(--space) * 4);
    --modal-body-line-height: var(--line-height-paragraph);

    --modal-footer-padding: 0 calc(var(--space) * 4) calc(var(--space) * 4);
    --modal-footer-gap: calc(var(--space) * 2);

    background: var(--modal-background, var(--ui-bg));
    border: var(--modal-border, 1px solid var(--ui-border));
    border-radius: var(--modal-border-radius, var(--radius-md));
    box-shadow: var(--modal-box-shadow, var(--shadow-md));
    min-width: var(--modal-min-width, 300px);
    max-width: var(--modal-max-width, 500px);
    max-height: var(--modal-max-height, 90vh);
    overflow: hidden;
    animation: animate-fade-in 0.35s ease-in-out;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .j-popup-layout:has(.is-fullscreen) {
    padding: 0;
  }

  .j-modal.is-fullscreen {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    /* --modal-border-color: var(--ui-border-subtle); */
  }

  .j-modal .modal-header {
    padding: var(--modal-header-padding);
    border-bottom: var(--modal-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--modal-header-gap);
  }

  .j-modal .modal-header .modal-title {
    margin: 0;
    font-size: var(--modal-title-font-size);
    font-weight: 500;
  }

  .j-modal .modal-header .modal-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--modal-close-icon-size);
    height: var(--modal-close-icon-size);
    font-size: var(--modal-close-font-size);
    color: var(--modal-close-color);
    text-align: center;
  }

  .j-modal .modal-header .modal-close:focus-within {
    outline: 2px solid var(--tone-solid);
    color: var(--tone-solid);
  }

  .j-modal .modal-header .modal-close:hover {
    color: var(--tone-solid);
    background-color: var(--tone-subtle);
  }

  .j-modal .modal-body {
    padding: var(--modal-body-padding);
    overflow-y: auto;
    overflow-wrap: break-word;
    flex: 1;
  }

  .j-modal .modal-body p {
    margin: 0;
    line-height: var(--modal-body-line-height);
  }

  .j-modal.is-fullscreen .modal-header {
    --modal-header-padding: calc(var(--space) * 4);
  }

  .j-modal.is-fullscreen .modal-body {
    --modal-body-padding: 0;
  }

  .j-modal.is-fullscreen .modal-footer {
    --modal-footer-padding: calc(var(--space) * 4);
  }

  .j-modal .modal-footer {
    padding: var(--modal-footer-padding);
    border-top: var(--modal-footer-border, var(--modal-border));
    display: flex;
    justify-content: flex-end;
    gap: var(--modal-footer-gap);
  }
}