@layer components {
  .j-offcanvas-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background: var(--offcanvas-overlay-bg);
    z-index: var(--z-overlay);
  }

  .j-offcanvas-overlay.is-active {
    opacity: 1;
  }

  .j-offcanvas {
    position: fixed;
    z-index: var(--z-offcanvas);
    background: var(--offcanvas-bg);
    box-shadow: var(--offcanvas-box-shadow);
  }

  .j-offcanvas.is-slide {
    transition: transform 0.3s ease;
  }

  .j-offcanvas:not(.is-slide) {
    transition: none;
  }

  .j-offcanvas.is-left {
    top: 0;
    left: 0;
    width: var(--offcanvas-block-width);
    height: 100vh;
    transform: translateX(-100%);
    border-right: var(--offcanvas-border);
  }

  .j-offcanvas.is-right {
    top: 0;
    right: 0;
    width: var(--offcanvas-block-width);
    height: 100vh;
    transform: translateX(100%);
    border-left: var(--offcanvas-border);
  }

  .j-offcanvas.is-top {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--offcanvas-inline-height);
    transform: translateY(-100%);
    border-bottom: var(--offcanvas-border);
  }

  .j-offcanvas.is-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--offcanvas-inline-height);
    transform: translateY(100%);
    border-top: var(--offcanvas-border);
  }

  .j-offcanvas.is-active {
    transform: translate(0, 0);
  }

  .j-offcanvas .offcanvas-content {
    height: 100%;
    overflow-y: auto;
    position: relative;
  }
}
