@layer components {
  .j-pagination {
    font-size: var(--pagination-font-size, var(--font-size));
  }

  .j-pagination a {
    text-decoration: none;
    color: var(--pagination-link-color, var(--ui-fg));
  }

  .j-pagination .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--pagination-gap, calc(var(--space) * 1));
    margin: 0;
    padding: 0;
  }

  .j-pagination .more span,
  .j-pagination .is-active {
    cursor: default;
  }
}