/* 
 * status.css
 * - sad mode
 * - disabled
 * - readonly
 * - data-action
 * - shape status
 * - drag status
 * - hidden
 */
@layer status {
  /* sad mode */
  .is-sad {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  /* readonly */
  [readonly] {
    opacity: var(--opacity-readonly);
    cursor: default;
  }

  /* data-action */
  [data-action] {
    cursor: pointer;
  }

  /* shape status */
  .is-circle {
    border-radius: 50%;
  }

  .is-round {
    border-radius: 0.5rem;
  }

  /* drag status */
  .dragging {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }

  .dragging:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }

  /* disabled */
  :disabled,
  [disabled],
  .is-disabled,
  [aria-disabled='true'] {
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  [hidden],
  [aria-hidden='true'] {
    display: none;
  }
}
