@layer components {
  .j-tabs {
    display: flex;
  }

  .j-tabs,
  .j-tabs[data-tabs-direction='top'] {
    flex-direction: column;
  }

  .j-tabs[data-tabs-direction='bottom'] {
    flex-direction: column-reverse;
  }

  .j-tabs[data-tabs-direction='left'] {
    flex-direction: row;
  }

  .j-tabs[data-tabs-direction='right'] {
    flex-direction: row-reverse;
  }

  .j-tabs .tab-wrap {
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  .j-tabs .tab-list {
    display: flex;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }

  .j-tabs[data-tabs-direction='left'] .tab-list,
  .j-tabs[data-tabs-direction='right'] .tab-list {
    flex-direction: column;
  }

  .j-tabs .tab-list .tab-item {
    padding: var(--tab-list-item-padding);
    margin: var(--tab-list-item-margin);
    color: var(--tab-fg);
    font-weight: var(--tab-list-font-weight);
    flex-shrink: 0;
    cursor: pointer;
  }

  .j-tabs .tab-list .tab-item[aria-disabled='true'] {
    cursor: not-allowed;
  }

  .j-tabs .tab-panel {
    padding: var(--tab-panel-padding);
    margin: var(--tab-panel-margin);
    flex: 1;
  }

  .j-tabs .tab-panel .panel-item {
    display: none;
    margin: var(--tab-panel-item-margin);
    position: relative;
    min-height: var(--tab-panel-item-min-height);
  }

  .j-tabs .tab-panel .panel-item[aria-hidden='false'] {
    display: block;
  }

  .j-tabs .tab-panel .panel-item > * {
    margin: var(--tab-panel-item-content-margin);
  }
}
