@layer components {
  .j-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: var(--tag-gap);
    padding: var(--tag-padding);
    height: var(--tag-height);
    line-height: var(--tag-line-height);
    font-size: var(--tag-font-size);
    font-weight: var(--tag-font-weight);
    border-width: var(--tag-border-width);
    border-style: var(--tag-border-style);
    border-color: var(--tag-border-color);
    border-radius: var(--tag-border-radius);
    color: var(--tag-fg);
    background: var(--tag-bg);
    box-shadow: var(--tag-box-shadow);
  }

  .j-tag span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .j-tag img,
  .j-tag svg {
    width: var(--tag-icon-size);
    height: var(--tag-icon-size);
  }

  .j-tag:hover {
    opacity: var(--opacity-hover);
  }
}
