@layer components {
  .j-theme-palette {
    padding: var(--palette-padding, calc(var(--space) * 4));
  }

  .j-theme-palette > h3 {
    margin: var(--palette-title-margin, calc(var(--space) * 2) 0);
  }

  .j-theme-palette .palette-container {
    display: flex;
    flex-direction: column;
    gap: var(--palette-container-gap, calc(var(--space) * 4));
  }

  .j-theme-palette .palette-container .palette-item {
    display: flex;
    flex-direction: column;
    gap: var(--palette-item-gap, calc(var(--space) * 2));
  }

  .j-theme-palette .palette-container .palette-item .item-title {
    font-size: var(--palette-item-title-font-size, var(--font-size));
    line-height: var(--line-height);
    margin: 0;
    font-weight: var(--font-bold);
  }

  .j-theme-palette .palette-container .palette-item .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space);
  }

  .j-theme-palette .palette-container .palette-item .items > button {
    padding-left: calc(var(--space) * 2);
    padding-right: calc(var(--space) * 2);
    min-width: 0;
    overflow: hidden;
  }

  .j-theme-palette .palette-container .palette-item[data-palette='theme'] .items > button {
    justify-content: flex-start;
  }

  .j-theme-palette .palette-container .palette-item .items > button span.item-hex {
    display: inline-block;
    width: var(--font-size-sm);
    height: var(--font-size-sm);
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: var(--space);
  }

  .j-theme-palette .palette-container .palette-item .items > button span.button-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
