@layer components {
  .j-theme-palette .palette-container {
    display: flex;
    flex-direction: column;
  }

  .j-theme-palette .palette-item {
    display: flex;
    flex-direction: column;
  }

  .j-theme-palette .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .j-theme-palette .j-button {
    min-width: 0;
    overflow: hidden;
  }

  .j-theme-palette .j-button .item-hex {
    display: inline-block;
    border-radius: 50%;
    flex-shrink: 0;
  }

  .j-theme-palette .j-button .button-text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
