@layer components {
  .j-tip {
    position: relative;
    display: grid;
    grid-template-columns: 0 1fr;
    align-items: flex-start;
  }

  .j-tip:has(.tip-icon) {
    -moz-column-gap: var(--s3);
    column-gap: var(--s3);
    grid-template-columns: var(--s4) 1fr;
  }

  .j-font-md .j-tip:has(.tip-icon) {
    -moz-column-gap: var(--s5);
    column-gap: var(--s5);
  }

  .j-tip .tip-title {
    grid-column-start: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    margin: 0;
  }

  .j-tip .tip-content {
    grid-column-start: 2;
    display: grid;
    justify-items: start;
    margin: 0;
  }

  .j-tip .tip-content > * {
    margin: 0;
  }
}
