@layer components {
  .j-toast-container {
    position: fixed;
    top: var(--toast-container-offset);
    right: var(--toast-container-offset);
    z-index: var(--z-toast);
    display: flex;
    flex-direction: column;
    gap: var(--toast-container-gap);
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  .j-toast {
    display: flex;
    align-items: center;
    gap: var(--toast-gap);
    padding: var(--toast-padding);
    box-shadow: var(--toast-box-shadow);
    font-size: var(--toast-font-size);
    font-weight: var(--toast-font-weight);
    color: var(--toast-fg);
    background: var(--toast-bg);
    border-width: var(--toast-border-width);
    border-style: var(--toast-border-style);
    border-color: var(--toast-border-color);
    border-radius: var(--toast-border-radius);
    min-width: var(--toast-min-width);
    max-width: var(--toast-max-width);
    word-break: break-all;
    cursor: pointer;
    pointer-events: auto;

    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }

  .j-toast[aria-live] {
    opacity: 1;
    transform: translateY(0);
  }

  .j-toast .toast-icon {
    margin-right: var(--s2);
    width: var(--toast-icon-size);
    color: inherit;
  }

  .j-toast .toast-message {
    flex: 1;
    word-break: normal;
  }

  .j-toast-lite {
    position: fixed;
    top: 45%;
    left: 50%;
    transition: opacity 0.15s ease-in-out;
    z-index: var(--z-toast);
    width: fit-content;
    max-width: 240px;
    text-align: center;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }

  .j-toast-lite[aria-live] {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  .j-toast.is-action {
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
  }
}