@layer components {
  .j-toast-container {
    position: fixed;
    z-index: var(--z-toast);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
  }

  .j-toast {
    display: flex;
    align-items: center;
    word-break: break-all;
    cursor: pointer;
    pointer-events: auto;
  }

  .j-toast .el-icon {
    position: relative;
    color: inherit;
  }

  .j-toast .el-text {
    flex: 1;
    word-break: normal;
  }

  .j-toast-lite {
    position: fixed;
    top: 45%;
    left: 50%;
    z-index: var(--z-toast);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  .j-toast.is-confirm {
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
  }

  .j-toast.is-confirm .toast-buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
}
