@layer components {
  .j-toolbar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--z-toolbar);
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }

  .j-toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 992px) {
    .j-toolbar {
      justify-content: flex-start;
    }
  }

  .editor-drop-color .color-panel {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .editor-drop-color .color-panel button.color-btn {
    cursor: pointer;
  }

  .editor-drop-color .color-panel button.color-btn.color-btn-clear::after {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editor-drop-color .color-panel .color-btn:last-of-type {
    grid-column: span 5;
    width: auto;
  }
}
