@layer components {
  .j-toolbar-container {
    position: var(--toolbar-container-position, sticky);
    top: 0;
    width: 100%;
    z-index: var(--z-index-toolbar-container);
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    background: var(--toolbar-container-background, var(--background));
    border-bottom: var(--toolbar-container-border, 1px solid var(--border-color));
  }
  .j-toolbar {
    position: relative;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--toolbar-gap, 0);
    padding: var(--toolbar-padding, calc(var(--space) * 2));
    box-shadow: var(--toolbar-box-shadow, var(--box-shadow-sm));
  }
  @media screen and (max-width: 992px) {
    .j-toolbar {
      justify-content: flex-start;
    }
  }
  .j-toolbar button svg {
    width: var(--toolbar-icon-size, var(--font-size-xl));
    height: var(--toolbar-icon-size, var(--font-size-xl));
  }
  .j-toolbar button.is-sm svg {
    --toolbar-icon-size: var(--font-size-lg);
  }
  .j-toolbar button.is-lg svg {
    --toolbar-icon-size: var(--font-size-2xl);
  }
}
