@layer comopnents {
  .j-tooltip {
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .j-tooltip .el-text {
    word-wrap: break-word;
    position: relative;
  }
}
